/* :root{
    
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Nunito',sans-serif;*/
}

/* Header y Nav de la pagina de la pagina */

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-image: linear-gradient(to right, #74D23A 10%, #A6D83C 40%, #FCE308 60%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}


/* Logo de la pagina */
.logo img {
    height: 50px; 
}

.navegacion a{
    text-decoration: none;
    color: black;
}

.navegacion ul {
    list-style: none;
    display: flex;
}

.navegacion ul li {
    margin-right: 20px;
}

.barra-busqueda input {
    padding: 8px 30px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
}

/* Logo carrito */
.cart img {
    height: 30px;
}

/* Contenido Principal de la pagina */

#main {
    width: 100%;
    padding-top: 80px;

}

/*Párrafos*/
/*Sobre nosotros y somos petfriendly*/ 
/*Nuestro compromosimo y visitanos */

#div{
    height:auto;
    width: 100%;
    padding-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;  

}

#section{
    height: auto;
    width: 100%;
    margin:5px;
    border: 5px;
    padding: 5px;
}

.div{    
    height: auto;
    width: 50%;
    display: flex;
   top: 0;
    
}


.h1{
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    padding: 15px ;
    background-color: #74D23A;
          
}

.sobrenosotros{
    height: auto;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    font-size: 18px;
    margin: 10px;
}



.imgsomos{
    width:55%;
    height: auto;
    display: flex;
    padding-left: 30px;
    margin: 3px;
    margin-right: 5px;
    margin-left: 5px;    
    transform: translateY(-93px);
}

.somospetfriendly{
    height: auto;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    font-size: 18px;
    margin: 10px;
}

.imgpet{
    width: 55%;
    height: auto;
    display: flex;
    padding-left: 30px;
    margin: 3px;
    margin-right: 5px;
    margin-left: 5px; 
    transform: translateY(-93px);  
}

.nuestrocompromiso{
    height: auto;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    font-size: 18px;
    margin: 10px;
} 

.imgcompromiso{
    width: 55%;
    height: auto;
    display: flex;
    padding-left: 30px;
    margin: 3px;
    margin-right: 5px;
    margin-left: 5px; 
    transform: translateY(-93px);  
}


.visitanos{
    height: auto;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    font-size: 18px;
    margin: 10px;
}

.mapa{
    width: 55%;
    height: auto;
    display: flex;
    padding-left: 30px;
    margin: 3px;
    margin-right: 5px;
    margin-left: 5px;   
    transform: translateY(-93px);
}


#p{
    height: auto;
    width: 50%;   
}

/* Footer de la pagina */

#footer{
    position: absolute;
    height: 200px;
    width: 100%;
    background-image: linear-gradient(to right, #74D23A 10%, #A6D83C 40%, #FCE308 60%);
}