*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
:root {
    --color-primario: #74D23A;
    --color-primario-2: #A6D83C;
    --color-secundario: #FCE308;
    --categoria-fondo: #FFD700;
}

a {
    text-decoration: none;
    color: black;
}

.separador-header{
    width: 100%;
    height: 65px;
}

/* Formulario*/
body {
    background-image: url('/static/Img/comida1.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: flex-end;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

#formulario {
    min-width: 400px;
    width: 500px;
    background: rgba(0, 128, 0, 0.8);
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    color: white;
    box-shadow: 7px 13px 37px #000;
    margin: 50px 50px 50px 0;
}

#formulario h4 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

#nombre, #apellido, #email, #tel, #dni, #nacionalidad, #foto {
    width: 100%;
    background: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    border: none;
    font-size: 16px;
    color: #000;
}

#nacionalidad, #foto{
    margin-top: 5px;
}

.informacion{
    font-size: 1.2em;
}

input[type="radio"] {
    margin: 10px 5px 0 25px;
}

.genero{
    font-size: 0.8em
}

.frase {
    height: 40px;
    text-align: center;
    font-size: 1.2em;
    line-height: 40px;
}

.frase a {
    color: white;
    text-decoration: none;
}

.frase a:hover {
    color: white;
    text-decoration: underline;
}

#formulario button {
    width: 100%;
    background: white;
    border: none;
    padding: 16px;
    color: green;
    margin: 16px 0;
    font-size: 1.5em;
    border-radius: 4px;
    cursor: pointer;
}

#formulario button:hover {
    background: #f0f0f0;
}

/* Datos de error del formulario */
#error {
    width: 100%;
    text-align: center;
    color: red;
    font-size: 1.5em;
    font-weight: bold;
    padding: 15px;
}

/*header*/
#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    background-image: linear-gradient(to right, var(--color-primario) 10%, var(--color-primario-2) 40%, var(--color-secundario) 60%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo img {
    height: 55px;
    border-radius: 25px;
    margin-left: 40px;
}

.logo:hover {
    animation: animacion2 0.25s infinite;
    cursor: pointer;
}

.navegacion {
    display: flex;
    justify-content: center;
}

.navegacion a {
    text-decoration: none;
    color: black;
    font-size: 1em;
    font-weight: 700;
}

.navegacion ul {
    list-style: none;
    display: flex;
    padding: 0;
}

.navegacion ul li {
    margin: 0 20px;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    cursor: pointer;
}

.barra-busqueda {
    flex-grow: 4;
    display: flex;
    justify-content: center;
}

.barra-busqueda input {
    padding: 10px 40px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
    width: 100%;
    max-width: 600px;
    min-width: 200px;
}

/* Logo carrito */
.carrito img {
    height: 30px;
    margin-right: 10px; 
    margin-left: 10px;
}

.carrito:hover {
    animation: animacion1 0.25s infinite;
}

/* Estilos para el menú desplegable */

#toggle-menu{
    display: none;
}

.hamburguesa {
    display: none;
}

@media screen and (max-width: 1000px) {
    .navegacion ul {
        display: none; /* Ocultar lista de navegación en pantallas pequeñas */
        position: absolute;
        top: 65px;
        left: 0;
        width: 100%;
        background-color: #f9f9f9;
    }
}

/*footer*/
#footer {
    position: relative;
    height: 150px; /* Altura ajustable según el contenido */
    width: 100%;
    height: 200px;
    background-image: linear-gradient(to right, var(--color-primario) 10%, var(--color-primario-2) 40%, var(--color-secundario) 60%);
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contenido-footer {
    text-align: center;
    line-height: 30px;
}